.list-group {
  box-shadow: -4px 4px 2px 0 rgba(0, 0, 0, 0.3);
  font-size: 16px;
  border: 1px solid #ccc;

}

.list-group-item {
  background: rgb(48, 48, 48, 0.8);
  color: rgb(160, 222, 255);
  font-weight: 600;
  font-style: oblique;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
}

.list-group-item:hover {
  background: rgba(85, 85, 85, 0.8);
  color: #55c3ff;
}