<div class="list-group mx-2 my-5 p-0">
  <a routerLink="/problem-1" class="list-group-item list-group-item-action">Problem 1</a>
  <a routerLink="/problem-2" class="list-group-item list-group-item-action">Problem 2</a>
  <a routerLink="/problem-3" class="list-group-item list-group-item-action">Problem 3</a>
</div>

<h5 class="text-center">
  <a target="_blank" href="https://docs.google.com/document/d/1jIR72zOdKC4-iiAIp2DN_7ZQtM7vAxaQ0IGxVy_V7eQ/edit?usp=sharing">Check this document for a description of the problems</a>
</h5>